h1 {
  text-align: center;
}

#prompt {
  margin: 20%;
  text-align: center;
}

#map {
  height: 600px;
  width: 100%;
}

form input {
  width: 300px;
}

.none {
  display: none;
}

#origin {
  margin-top: 30px;
  text-align: center;
}

.inline {
  display: inline;
}

#over {
}
