* {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

html, body, #wrapper {
  height: 100%;
  width: 100%;
}

h1, h4, p {
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 50px;
  margin: 0;
}

#prompt {
  margin: 20%;
  text-align: center;
}

#map {
  height: 100%;
  width: 100%;
}

form input {
  width: 300px;
}

#origin {
  margin-top: 30px;
  text-align: center;
  padding: 0 10px;
}

#select {
  text-align: center;

}

.inline {
  display: inline;
}

#color1 {
  color: red;
}

#color2 {
  color: blue;
}

#color3 {
  color: green;
}

#color4 {
  color: orange;
}

#mySidenav {
  width: 100%;
  height: 100%;
  display: absolute;
  overflow-x: hidden;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E8EAF6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;

}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

transparent {
  background-color: rgba(92,107,192, .5)
}

#bottom {
  position: relative;
  margin: auto;
  text-align: center;
  min-height: 10%;
  height: 10%;
}

#over {
  margin: auto;
}

#places {
  overflow: scroll;
  background-color: white;
  height: 80%;
}

#originString {
  text-align: center;
}

.container {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    margin-right: 20px;
    width: 42px;
    height: 42px;
    /*border: #333 solid 2px;*/
    z-index: 2;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0 0 2px;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.none {
  display: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
